*{margin:0px;
    padding:0px; }

.course-container{
    background-color: white;
    width: 250px;
    box-shadow: rgb(0 48 110 / 10%) 0px 1px 2px 0px;
    border-radius: 8px;
    margin-top:30px;
    margin-right:30px;
}
.course-details{
    padding: 10px 12px 20px 20px;
    height: 180px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    position: relative;
    
}
.masterclass-image{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    -webkit-box-pack: end;
    justify-content: center;
    align-items:center;
    position: relative;   
}
.course-image{
    width: 250px;
  
    object-fit: contain;
}
.course-title{
    margin-bottom:8px;
    white-space: pre-wrap;
    font-weight: 600;
    font-size: 18px;
    color: rgb(82, 96, 109);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height:1.2;
}
.course-info{
    color: #607786;
    font-size:16px;
    align-self:flex-start;
    line-height:1.6;
}
.enroll{
    align-self:flex-end;
    width:60px;
  min-height:30px;
    outline:none;
    border:none;
    border-radius:4px;
    background:#3667D3;
    color:white;
    display: inline-block;
}
.play-icon{
    position: absolute;
    fill:white;
    font-size:36px;
}