.login-container{
    background:#FAFBFE;
    height:100vh;
    display:flex;
    justify-content:center;
    padding:100px 0px 40px 0px;
}
.login{
    display:flex;
justify-content:space-between;
    width:80%;
}
.login-part1{
    display:flex;
    align-items:center;
    justify-content:space-around;
    height:100%;
    min-width:50%;
}
.login-logo{
    width:150px;
    margin-bottom:16px;
}
.sign-in-to{
    font-size:30px;
    font-weight:600;
}
.website-name{
    font-weight:bold;
    font-size:28px;
    margin-bottom:40px;
}
.login-part1-text{
    align-self:flex-start;
}
.register-msg{
    font-size: 16px;
line-height: 24px;
}
.register-here{
    color: #3A69FF;
}
.login-image{
    align-self:flex-end;
}
.login-part2{
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    width:30%;
}
.username{
    width: 100%;
    height: 48px;
    border-radius: 8px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #8c86f8;
    padding-left: 20px;
    border: none;
    background: #F0EFFF;
    margin-bottom:20px;
    outline:none;
}
.login-btn{
background:#3A69FF;
color:#ffffff;
padding:0px;
}
.continue-with{
    margin-top:36px;
    font-size:12px;
    color:#979696;
}
.login-icons{
    margin-top:36px;
    width:20%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.facebook-icon{

    color: #0163E0;
    font-size:28px;
}
.google-icon{
    font-size:30px;
}


@media screen and (max-width: 768px) {
.login-part1{
    visibility: hidden;
    min-width:0px;
    max-width:0px;
}
.login{
    display:flex;
    justify-content:center;
   
}
.login-part2{
    margin-right:auto;
}
}